[Unit]
Description=Check ASSISTENT certificate renewal twice daily
[Timer]
OnCalendar=*-*-* 03,15:27:00
RandomizedDelaySec=900
Persistent=true
[Install]
WantedBy=timers.target
